.card {
  margin: 0px;
  margin-right: 0px;
}
div {
  margin-right: 0px;
}
.row {
  justify-content: space-between;
  align-content: center;
  margin: 0px;
}

.model-content img {
  width: 100%;
  height: auto;
}